In [1]:
with open('genes_2510.txt', 'r') as file:
    # Read the contents of the file into a list using readlines()
    genes_2510 = list(map(lambda x: x[:-1], file.readlines()))
print(len(genes_2510))
print(genes_2510[:5])

2510
['UBB', 'UBC', 'UBA52', 'RPS27A', 'UBA1']

In [2]:
import pandas as pd

drug_response_df = pd.read_csv("../0208/cell_drug_auc_final_1111.csv")
print(drug_response_df.shape)
drug_response_df.head()

(692, 386)

,ARXSPAN_ID,JW-7-24-1,KIN001-260,NSC-87877,GNE-317,NAVITOCLAX,PLX-4720,ERK5-IN-1,VX-11E,TGX-221,...,BIX02189,ISPINESIB MESYLATE,KIN001-135,KIN001-206,KIN001-236,KIN001-266,LUMINESPIB,NUTLIN-3A,SGC0946,SL 0101-1
0,ACH-000001,0.778432,0.951321,0.840287,-99999.000000,-99999.000000,0.936410,0.891908,0.402122,0.659600,...,0.982272,0.733492,0.072277,0.983536,-99999.000000,0.651746,0.982084,0.893777,0.983861,0.933035
1,ACH-000002,0.788327,0.874760,0.760137,0.905754,0.930764,0.991068,0.278288,0.972905,0.558774,...,0.899628,0.604228,0.046061,0.918265,0.865628,-99999.000000,0.985921,0.839175,0.988639,0.533204
2,ACH-000004,0.737630,0.938733,0.835441,0.808964,0.966133,0.983552,-99999.000000,0.993912,0.596027,...,0.965245,0.782295,0.366912,0.844979,0.761323,-99999.000000,0.980945,0.946694,0.992605,0.761956
3,ACH-000006,0.176396,0.571569,0.581729,0.585938,0.958510,0.935574,0.600428,-99999.000000,0.596056,...,0.834158,0.605360,0.124930,0.813384,0.782187,-99999.000000,0.971058,0.871277,-99999.000000,0.495020
4,ACH-000007,0.569751,0.755449,0.954924,0.939587,0.965638,0.932666,-99999.000000,0.956481,0.838692,...,0.927519,0.812955,0.719780,0.815099,0.795736,0.860768,0.983317,0.888067,0.987564,0.787948

In [3]:
import numpy as np

# define column names
columns = list(genes_2510)

# define row index names
index_names = drug_response_df.ARXSPAN_ID.values

# create empty dataframe with column names, and row index
data = np.zeros((len(index_names), len(columns))) # initialize all value to be 0
mutation_df = pd.DataFrame(data, columns=columns, index=index_names)
mutation_df.shape

(692, 2510)

In [4]:
### Mutation data
CCLE_mutation = pd.read_csv('../0208/CCLE_mutations.csv', low_memory=False)
CCLE_mutation.head()

,Hugo_Symbol,Entrez_Gene_Id,NCBI_Build,Chromosome,Start_position,End_position,Strand,Variant_Classification,Variant_Type,Reference_Allele,...,isCOSMIChotspot,COSMIChsCnt,ExAC_AF,Variant_annotation,CGA_WES_AC,HC_AC,RD_AC,RNAseq_AC,SangerWES_AC,WGS_AC
0,VPS13D,55187,37,1,12359347,12359347,+,Nonsense_Mutation,SNP,C,...,False,0.0,NaN,damaging,34:213,NaN,NaN,NaN,34:221,NaN
1,AADACL4,343066,37,1,12726308,12726322,+,In_Frame_Del,DEL,CTGGCGTGACGCCAT,...,False,3.0,NaN,other non-conserving,57:141,NaN,NaN,NaN,9:0,28:32
2,IFNLR1,163702,37,1,24484172,24484172,+,Silent,SNP,G,...,False,0.0,NaN,silent,118:0,NaN,NaN,10:0,118:0,18:0
3,TMEM57,55219,37,1,25785018,25785019,+,Frame_Shift_Ins,INS,-,...,False,0.0,NaN,damaging,NaN,NaN,NaN,6:28,NaN,NaN
4,ZSCAN20,7579,37,1,33954141,33954141,+,Missense_Mutation,SNP,T,...,False,0.0,NaN,other non-conserving,28:62,NaN,NaN,NaN,27:61,NaN

In [5]:
mutation_df.head()

,UBB,UBC,UBA52,RPS27A,UBA1,SAE1,UBA2,UBA3,UBA7,UBA6,...,GATA6,C17orf39,INPP4B,KLHL6,MLL,MLL2,MYCL1,WHSC1,WHSC1L1,PRKN
ACH-000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACH-000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACH-000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACH-000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACH-000007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
missing_gene_lst = []
for gene in mutation_df.columns.values:
    if gene not in list(CCLE_mutation.Hugo_Symbol.unique()):
        missing_gene_lst.append(gene)
print(len(missing_gene_lst))
missing_gene_lst

48

['COP1',
 'ELOC',
 'ELOB',
 'MICOS10-NBL1',
 'HJV',
 'VEGFD',
 'MAP3K20',
 'MAP3K14',
 'CASTOR1',
 'CASTOR2',
 'PAK5',
 'BUB1B-PAK6',
 'TMSB4Y',
 'VSIR',
 'CD8B2',
 'NECTIN2',
 'NECTIN3',
 'CLDN34',
 'PECAM1',
 'NECTIN1',
 'CXCL8',
 'CCL3L3',
 'GRK2',
 'GRK3',
 'SEPTIN4',
 'PIDD1',
 'TPTEP2-CSNK1E',
 'TLE7',
 'CCN4',
 'ADGRB1',
 'AFDN',
 'PLAAT3',
 'GPHB5',
 'MOSMO',
 'NECTIN4',
 'CD24',
 'MRE11',
 'ABRAXAS1',
 'BABAM2',
 'SEM1',
 'EMSY',
 'TERC',
 'FAM123B',
 'C17orf39',
 'MLL',
 'MLL2',
 'MYCL1',
 'PRKN']

In [9]:
### synonym dictionary (map to Hugo Symbol used in CCLE)
gene_hugo_symbol_dict = {
    'COP1': "COP1, CFAP78, FAP78, RFWD2, RNF200",
    'ELOC': "ELOC, SIII, TCEB1",
    'ELOB': "ELOB, SIII, TCEB2",
    'MICOS10-NBL1': "MICOS10-NBL1, C1orf151-NBL1, DAN, DAND1, MINOS1-NBL1, NBL1",
    'HJV': "HJV, HFE2, HFE2A, JH, RGMC",
    'VEGFD': "VEGFD, FIGF, VEGF-D",
    'MAP3K20': "MAP3K20, AZK, CNM6, MLK7, MLT, MLTK, MLTKalpha, MLTKbeta, MRK, SFMMP, ZAK, mlklak, pk",
    'MAP3K14': "MAP3K14, FTDCR1B, HS, HSNIK, NIK",
    'CASTOR1': "CASTOR1, GATSL3",
    'CASTOR2': "CASTOR2, GATSL1, GATSL2",
    'PAK5': "PAK5, PAK7",
    'BUB1B-PAK6': "BUB1B-PAK6, PAK-5, PAK-6, PAK5, PAK6",
    'TMSB4Y': "TMSB4Y, TB4Y",
    'VSIR': "VSIR, B7-H5, B7H5, C10orf54, DD1alpha, Dies1, GI24, PD-1H, PP2135, SISP1, VISTA",
    'CD8B2': "CD8B2, CD8BP",
    'NECTIN2': "NECTIN2, CD112, HVEB, PRR2, PVRL2, PVRR2",
    'NECTIN3': "NECTIN3, CD113, CDW113, NECTIN-3, PPR3, PRR3, PVRL3, PVRR3",
    'CLDN34': "CLDN34",
    'PECAM1': "PECAM1, CD31, CD31/EndoCAM, GPIIA', PECA1, PECAM-1, endoCAM",
    'NECTIN1': "NECTIN1, CD111, CLPED1, ED4, HIgR, HV1S, HVEC, OFC7, PRR, PRR1, PVRL1, PVRR, PVRR1, SK-12, nectin-1",
    'CXCL8': "CXCL8, GCP-1, GCP1, IL8, LECT, LUCT, LYNAP, MDNCF, MONAP, NAF, NAP-1, NAP1, SCYB8",
    'CCL3L3': "CCL3L3, 464.2, D17S1718, G0S19-2, LD78, LD78BETA, SCYA3L, SCYA3L1",
    'GRK2': "GRK2, ADRBK1, BARK1, BETA-ARK1",
    'GRK3': "GRK3, ADRBK2, BARK2",
    'SEPTIN4': "SEPTIN4, ARTS, BRADEION, C17orf47, CE5B3, H5, MART, PNUTL2, SEP4, SEPT4, hCDCREL-2, hucep-7",
    'PIDD1': "PIDD1, LRDD, MRT75, PIDD",
    'TPTEP2-CSNK1E': "TPTEP2-CSNK1E, LOC400927-CSNK1E",
    'TLE7': "TLE7, chico",
    'CCN4': "CCN4, WISP1, WISP1-OT1, WISP1-UT1, WISP1c, WISP1i, WISP1tc",
    'ADGRB1': "ADGRB1, BAI1, GDAIF",
    'AFDN': "AFDN, AF6, MLL-AF6, MLLT4",
    'PLAAT3': "PLAAT3, AdPLA, H-REV107, H-REV107-1, HRASLS3, HREV107, HREV107-1, HREV107-3, HRSL3, PLA2G16, PLAAT-3",
    'GPHB5': "GPHB5, B5, GPB5, ZLUT1",
    'MOSMO': "MOSMO, ATTHOG, BC030336, C16orf52",
    'NECTIN4': "NECTIN4, EDSS1, LNIR, PRR4, PVRL4, nectin-4",
    'CD24': "ABCB1, ABC20, CD243, CLCS, GP170, MDR1, P-GP, PGY1, p-170",
    'MRE11': "MRE11, ATLD, HNGS1, MRE11A, MRE11B",
    'ABRAXAS1': "ABRAXAS1, ABRA1, CCDC98, FAM175A",
    'BABAM2': "BABAM2, BRCC4, BRCC45, BRE",
    'SEM1': "SEM1, C7orf76, DSS1, ECD, PSMD15, SHFD1, SHFM1, SHSF1, Shfdg1",
    'EMSY': "EMSY, C11orf30, GL002",
    'TERC': "TERC, DKCA1, PFBMFT2, SCARNA19, TER, TR, TRC3, hTR",
    'FAM123B': "AMER1, FAM123B, OSCS, WTX",
    'C17orf39': "GID4, C17orf39, VID2, VID24",
    'MLL': "MLLT1, ENL, LTG19, YEATS1",
    'MLL2': "KMT2B, CXXC10, DYT28, HRX2, MLL1B, MLL2, MLL4, MRD68, TRX2, WBP-7, WBP7",
    'MYCL1': "MYCL, L-Myc, LMYC, MYCL1, bHLHe38",
    'PRKN': "PRKN, AR-JP, LPRS2, PARK2, PDJ"
}

In [10]:
symbol_mapping_dict = {}
not_found_gene_lst = []
for gene, lst in gene_hugo_symbol_dict.items():
    found = False
    for symbol in list(lst.split(", ")):
        if symbol in list(CCLE_mutation.Hugo_Symbol.unique()):
            if gene not in symbol_mapping_dict:
                symbol_mapping_dict[gene] = []
            symbol_mapping_dict[gene].append(symbol)
            found = True
    if not found:
        not_found_gene_lst.append(gene)
        print(gene, "Not Found")
print(len(not_found_gene_lst))

MAP3K14 Not Found
TMSB4Y Not Found
CD8B2 Not Found
CLDN34 Not Found
PECAM1 Not Found
CCL3L3 Not Found
TPTEP2-CSNK1E Not Found
TLE7 Not Found
GPHB5 Not Found
TERC Not Found
10

In [11]:
### multiple match
# MICOS10-NBL1 ['MINOS1-NBL1', 'NBL1'] -> MINOS1-NBL1
# CASTOR2 ['GATSL1', 'GATSL2'] -> GATSL2
# NECTIN3 ['PRR3', 'PVRL3'] -> PVRL3
# SEPTIN4 ['C17orf47', 'SEPT4'] -> SEPT4
# NECTIN4 ['PRR4', 'PVRL4'] -> PVRL4
# SEM1 ['C7orf76', 'ECD', 'SHFM1'] -> SHFM1

for gene, lst in symbol_mapping_dict.items():
    if len(lst) > 1:
        print(gene, lst)

MICOS10-NBL1 ['MINOS1-NBL1', 'NBL1']
CASTOR2 ['GATSL1', 'GATSL2']
NECTIN3 ['PRR3', 'PVRL3']
SEPTIN4 ['C17orf47', 'SEPT4']
NECTIN4 ['PRR4', 'PVRL4']
SEM1 ['C7orf76', 'ECD', 'SHFM1']

In [12]:
mutation_df_324 = pd.read_csv('../0111/DRPreter-main/Data/mutations_raw_324_final.csv')
mutation_df_324.head()

,DepMap_ID,ABL1,ACVR1B,AKT1,AKT2,AKT3,ALK,ALOX12B,FAM123B,APC,...,VEGFA,VHL,WHSC1,WHSC1L1,WT1,XPO1,XRCC2,ZNF217,ZNF703,TERC
0,ACH-000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,ACH-000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,ACH-000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,ACH-000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ACH-000007,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [13]:
genes_324 = list(mutation_df_324.columns[1:])
for gene in not_found_gene_lst:
    if gene in genes_324:
        print(gene)

TERC

In [14]:
symbol_mapping_dict_final = {}
for gene, lst in symbol_mapping_dict.items():
    if len(lst) > 1:
        if gene == "MICOS10-NBL1":
            symbol_mapping_dict_final[gene] = "MINOS1-NBL1"
        if gene == "CASTOR2":
            symbol_mapping_dict_final[gene] = "GATSL2"
        if gene == "NECTIN3":
            symbol_mapping_dict_final[gene] = "PVRL3"
        if gene == "SEPTIN4":
            symbol_mapping_dict_final[gene] = "SEPT4"
        if gene == "NECTIN4":
            symbol_mapping_dict_final[gene] = "PVRL4"
        if gene == "SEM1":
            symbol_mapping_dict_final[gene] = "SHFM1"
    else:
        symbol_mapping_dict_final[gene] = lst[0]

In [15]:
columns = list(genes_2510)

# define row index names
index_names = drug_response_df.ARXSPAN_ID.values

# create empty dataframe with column names, and row index
data = np.zeros((len(index_names), len(columns))) # initialize all value to be 0
mutation_df = pd.DataFrame(data, columns=columns, index=index_names)
mutation_df.shape

(692, 2510)

In [16]:
count = 0
for i in mutation_df.index.values:
    count += 1
    temp_cell_line_data = CCLE_mutation.loc[CCLE_mutation.DepMap_ID == i].copy()
    for gene in mutation_df.columns.values:
        if gene in temp_cell_line_data.Hugo_Symbol.values:
            mutation_df.loc[i, gene] = 1
        elif gene in symbol_mapping_dict_final:
            if symbol_mapping_dict_final[gene] in temp_cell_line_data.Hugo_Symbol.values:
                mutation_df.loc[i, gene] = 1
    if count % 10 == 0:
        print(count)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690

In [17]:
for i in mutation_df.columns:
    if mutation_df[i].sum() == 0:
        print(i)

MAP3K14
TMSB4Y
CD8B2
CLDN34
PECAM1
CCL3L3
TPTEP2-CSNK1E
TLE7
PLA2G10
GPHB5
TERC

In [18]:
CCLE_mutation.loc[CCLE_mutation.Hugo_Symbol == "PLA2G10"].DepMap_ID

1233401    ACH-002680
Name: DepMap_ID, dtype: object

In [19]:
"ACH-002680" in mutation_df.index.values

False

In [20]:
mutation_df.to_csv("CCLE_mutation_2510.csv")

In [21]:
mutation_df_check = pd.read_csv("CCLE_mutation_2510.csv", index_col=0)
mutation_df_check.head()

,UBB,UBC,UBA52,RPS27A,UBA1,SAE1,UBA2,UBA3,UBA7,UBA6,...,GATA6,C17orf39,INPP4B,KLHL6,MLL,MLL2,MYCL1,WHSC1,WHSC1L1,PRKN
ACH-000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
ACH-000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACH-000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACH-000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
ACH-000007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
### Check paper data (expression)
exp = pd.read_csv('../0111/DRPreter-main/Data/Cell/CCLE_2369_EXP.csv', index_col=0)
genes_2369 = list(exp.columns.values)
print(len(genes_2369))
print(genes_2369[:10])

2369
['ITGA7', 'IRAK4', 'HHIP', 'SLC27A2', 'CD72', 'MAPKAP1', 'RASAL1', 'ATP6V1G2', 'AGRN', 'RAB5A']

In [16]:
CCLE_expression_21Q4 = pd.read_csv("CCLE_expression_21Q4.csv", low_memory=False)
CCLE_expression_21Q4.head()

,Unnamed: 0,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),...,ARHGAP11B (89839),AC004593.2 (1124),AC090517.4 (54816),AL160269.1 (11046),ABCF2-H2BE1 (114483834),POLR2J3 (548644),H2BE1 (114483833),AL445238.1 (647264),GET1-SH3BGR (106865373),AC113348.1 (102724657)
0,ACH-001113,4.990501,0.000000,7.273702,2.765535,4.480265,0.028569,1.269033,3.058316,6.483171,...,1.214125,0.000000,0.111031,0.150560,1.427606,5.781884,0.0,0.000000,0.799087,0.000000
1,ACH-001289,5.209843,0.545968,7.070604,2.538538,3.510962,0.000000,0.176323,3.836934,4.200850,...,1.835924,0.000000,0.310340,0.000000,0.807355,4.704319,0.0,0.000000,0.464668,0.070389
2,ACH-001339,3.779260,0.000000,7.346425,2.339137,4.254745,0.056584,1.339137,6.724241,3.671293,...,1.823749,0.084064,0.176323,0.042644,1.384050,4.931683,0.0,0.028569,0.263034,0.000000
3,ACH-001538,5.726831,0.000000,7.086189,2.543496,3.102658,0.000000,5.914565,6.099716,4.475733,...,0.871844,0.137504,0.263034,2.485427,0.713696,3.858976,0.0,0.000000,0.000000,0.000000
4,ACH-000242,7.465648,0.000000,6.435462,2.414136,3.864929,0.831877,7.198003,5.452530,7.112492,...,2.324811,0.163499,0.163499,0.000000,1.117695,4.990501,0.0,0.000000,0.000000,0.000000

In [17]:
expression_gene_lst = list(map(lambda x: x.split(" ")[0], CCLE_expression_21Q4.columns[1:].values))
print(len(expression_gene_lst))
print(expression_gene_lst[:10])

19177
['TSPAN6', 'TNMD', 'DPM1', 'SCYL3', 'C1orf112', 'FGR', 'CFH', 'FUCA2', 'GCLC', 'NFYA']

In [18]:
for gene in genes_2369:
    if gene not in expression_gene_lst:
        print(gene)

CASP12
MICOS10-NBL1
UBE2NL
BUB1B-PAK6

In [19]:
# CASP12 (Not Found)
# MICOS10-NBL1 -> NBL1?
# UBE2NL
# BUB1B-PAK6 -> PAK6?

In [20]:
exp.head()

,ITGA7,IRAK4,HHIP,SLC27A2,CD72,MAPKAP1,RASAL1,ATP6V1G2,AGRN,RAB5A,...,RCHY1,CD7,RPA2,ITGA6,SLC25A6,MAP3K20,ARPC1B,CD1C,ADCYAP1,OCLN
ACH-000001,2.021480,3.291309,0.485427,1.510962,1.189034,6.624540,3.012569,0.831877,8.696655,4.823240,...,5.701272,0.070389,4.957450,3.939227,7.009661,3.017922,7.411850,0.000000,0.070389,5.765004
ACH-000002,1.207893,2.939227,0.070389,3.991862,0.464668,4.978653,4.228819,0.310340,2.298658,3.068671,...,3.646163,0.070389,5.780573,3.286881,7.581803,2.257011,7.856114,0.189034,0.000000,0.214125
ACH-000006,6.410579,4.241840,0.485427,5.694323,1.475085,5.672991,0.000000,1.883621,2.695994,5.117695,...,5.752749,0.042644,6.740523,0.790772,8.116084,4.811471,8.328271,0.000000,0.000000,3.198494
ACH-000007,1.807355,3.523562,0.124328,4.283922,0.464668,5.704872,0.669027,0.263034,5.982537,4.137504,...,5.669594,0.000000,5.556429,6.843733,8.714452,3.942984,7.978939,0.042644,0.000000,5.719731
ACH-000008,2.805292,2.944858,0.263034,0.028569,0.189034,5.661351,0.505891,0.367371,5.623516,4.736605,...,4.809414,0.000000,6.182096,6.921484,8.326879,3.422233,9.549342,0.000000,0.000000,0.344828

In [21]:
# list(exp["CASP12"].values).index(exp["CASP12"].unique()[1])
exp.loc["ACH-000020","CASP12"]

0.0565835283663675

In [22]:
CCLE_expression_21Q4.columns = ["ID",] + list(CCLE_expression_21Q4.columns[1:])
# CCLE_expression_21Q4.loc[CCLE_expression_21Q4.ID == "ACH-000020"]
for gene in CCLE_expression_21Q4.columns[1:].values:
    exp_data = CCLE_expression_21Q4.loc[CCLE_expression_21Q4.ID == "ACH-000020", gene].values[0]
    drp_data = exp.loc["ACH-000020","CASP12"]
    if np.abs(exp_data - drp_data) == 0:
        print(gene)

TMEM176A (55365)
ETV1 (2115)
PRSS3 (5646)
CD4 (920)
NLRP2 (55655)
ADAM28 (10863)
PTPRN (5798)
ITIH1 (3697)
PHF21B (112885)
RIMBP2 (23504)
WNT8A (7478)
COL17A1 (1308)
CTNNA2 (1496)
FGFR2 (2263)
DDX3Y (8653)
ADGRF5 (221395)
LMCD1 (29995)
RHOBTB1 (9886)
TRHDE (29953)
TEAD2 (8463)
NUAK1 (9891)
SEMA3A (10371)
RAP1GAP (5909)
RUNX1T1 (862)
CDH17 (1015)
DNAAF6 (139212)
PTHLH (5744)
ABCC6 (368)
TF (7018)
UPK3A (7380)
MLC1 (23209)
SLC8A3 (6547)
CPNE6 (9362)
SIRPB1 (10326)
ASIP (434)
PCSK1N (27344)
BEX4 (56271)
SEC14L5 (9717)
TOX3 (27324)
JPH1 (56704)
KLC3 (147700)
MYH14 (79784)
PTPRS (5802)
CRHR2 (1395)
GLIS3 (169792)
CDH23 (64072)
SORCS1 (114815)
ASPA (443)
SLC6A4 (6532)
HLF (3131)
ANXA10 (11199)
VWA5A (4013)
FOLR1 (2348)
P3H3 (10536)
MANSC1 (54682)
KLRB1 (3820)
PDE10A (10846)
LAMA4 (3910)
WWC1 (23286)
EHHADH (1962)
TPO (7173)
IRF6 (3664)
ATP10B (23120)
FILIP1 (27145)
DNAH7 (56171)
TRIM67 (440730)
FLVCR2 (55640)
ELOVL3 (83401)
CRISPLD1 (83690)
TBX4 (9496)
ABCC11 (85320)
C4BPB (725)
GPR83 (10888)
OBSL1 (23363)
MAGEA10 (4109)
MOCS1 (4337)
RUNX2 (860)
SSUH2 (51066)
FGL2 (10875)
STEAP4 (79689)
FOXA1 (3169)
NXNL2 (158046)
UNC13A (23025)
OLFM1 (10439)
CALY (50632)
PNCK (139728)
PRRG1 (5638)
PDLIM4 (8572)
G6PC (2538)
DDC (1644)
IL2RA (3559)
EHF (26298)
B4GALNT1 (2583)
GPR55 (9290)
USP44 (84101)
SCEL (8796)
IGFBPL1 (347252)
FHDC1 (85462)
LRRC49 (54839)
UACA (55075)
TRIM54 (57159)
STAT4 (6775)
FGF2 (2247)
SHROOM3 (57619)
DHH (50846)
RNF113B (140432)
FBLN5 (10516)
LMAN1L (79748)
WDR93 (56964)
ACP4 (93650)
XCL2 (6846)
NECTIN4 (81607)
CASQ1 (844)
CDC42BPA (8476)
GDF7 (151449)
SLC10A4 (201780)
SLC2A12 (154091)
TRIM50 (135892)
CHRNA6 (8973)
LRP12 (29967)
NFIB (4781)
FAM13C (220965)
A1CF (29974)
GPHA2 (170589)
KLRF1 (51348)
TMEM163 (81615)
SPARCL1 (8404)
DDX4 (54514)
JPH3 (57338)
CLIC2 (1193)
WIF1 (11197)
ADAMTSL3 (57188)
SH3RF2 (153769)
ARSL (415)
KIT (3815)
CABP1 (9478)
PRXL2C (195827)
CATIP (375307)
SLAMF8 (56833)
ITLN2 (142683)
CELF3 (11189)
CILP2 (148113)
ABCG1 (9619)
TFF2 (7032)
FBXO27 (126433)
KASH5 (147872)
ELAVL4 (1996)
WNT4 (54361)
KIF26B (55083)
SPRR3 (6707)
LENEP (55891)
PROK2 (60675)
PYHIN1 (149628)
FANCD2OS (115795)
PLSCR2 (57047)
CDCP1 (64866)
NMNAT3 (349565)
CFAP100 (348807)
ZDHHC19 (131540)
CAMKV (79012)
IL15 (3600)
TMC1 (117531)
TRPV6 (55503)
TSHR (7253)
SLC16A9 (220963)
NELL1 (4745)
CCDC68 (80323)
BEAN1 (146227)
PLIN1 (5346)
GPR182 (11318)
UGT1A6 (54578)
NOD2 (64127)
ZNF610 (162963)
TMEM145 (284339)
ZNF597 (146434)
RAB3IL1 (5866)
HR (55806)
TSPAN5 (10098)
PCSK9 (255738)
GPR183 (1880)
PCDH7 (5099)
ROBO1 (6091)
ITGAM (3684)
GPR37L1 (9283)
NSG2 (51617)
LONRF2 (164832)
CDH2 (1000)
PSG6 (5675)
CAVIN3 (112464)
SPACA5 (389852)
ECEL1 (9427)
MAL (4118)
CALB2 (794)
MUCL1 (118430)
LVRN (206338)
SLC22A13 (9390)
ABCD2 (225)
RNASE8 (122665)
SUSD5 (26032)
HOXB2 (3212)
CNTNAP2 (26047)
AMZ1 (155185)
TAC4 (255061)
PRR18 (285800)
OR2T12 (127064)
KCNJ10 (3766)
GP5 (2814)
PXT1 (222659)
TMEM125 (128218)
GRM8 (2918)
NLRP11 (204801)
NRXN1 (9378)
HOXC9 (3225)
OR56B1 (387748)
MAPK15 (225689)
MAB21L2 (10586)
SYNM (23336)
PPP1R27 (116729)
RGS6 (9628)
PTGDR2 (11251)
CCBE1 (147372)
PMCH (5367)
SCN5A (6331)
CLDN5 (7122)
SOCS3 (9021)
SLITRK6 (84189)
PBX1 (5087)
AGBL4 (84871)
CYP4F2 (8529)
RGS9BP (388531)
MYT1L (23040)
CLCNKA (1187)
PDE2A (5138)
H1-7 (341567)
ATP13A5 (344905)
RGPD1 (400966)
P2RX2 (22953)
COL4A5 (1287)
HEPACAM2 (253012)
CLEC2A (387836)
RTL6 (84247)
GJB3 (2707)
MAOA (4128)
THEM5 (284486)
CRYBA4 (1413)
POTEF (728378)
MAGEA6 (4105)
FAM110D (79927)
LYPD2 (137797)
SERPINB2 (5055)
PARVA (55742)
LEKR1 (389170)
PLN (5350)
ITGBL1 (9358)
UNC13B (10497)
TEX45 (374877)
PNMA5 (114824)
ECT2L (345930)
SOX18 (54345)
LRRC73 (221424)
LILRB3 (11025)
HLA-G (3135)
OR2H2 (7932)
IGFL4 (444882)
ANKUB1 (389161)
VGLL3 (389136)
ZCWPW2 (152098)
C10orf105 (414152)
ARHGEF33 (100271715)
C2CD4D (100191040)
PPP1R2B (153743)
ERVFRD-1 (405754)
ACTN3 (89)
SMLR1 (100507203)
KHDC1L (100129128)
HPR (3250)
GJA5 (2702)
MAGEA2 (4101)
ZNF723 (646864)
ZNF595 (152687)
AC004593.2 (1124)

In [23]:
len(exp["BUB1B-PAK6"].unique())

40

In [24]:
possible_match_dict = {}
for i in range(len(exp["BUB1B-PAK6"].unique())):
    expression_value = exp["BUB1B-PAK6"].unique()[i]
    if expression_value == 0:
        continue
    print(expression_value)
    cell_line_index = list(exp["BUB1B-PAK6"].values).index(expression_value)
    cell_line = exp.index.values[cell_line_index]
    print(cell_line)
    # print(exp.loc[cell_line,"CASP12"])
    for gene in CCLE_expression_21Q4.columns[1:].values:
        exp_data = CCLE_expression_21Q4.loc[CCLE_expression_21Q4.ID == cell_line, gene].values[0]
        drp_data = exp.loc[cell_line,"BUB1B-PAK6"]
        if np.abs(exp_data - drp_data) < 0.01:
            if gene not in possible_match_dict:
                possible_match_dict[gene] = 0
            possible_match_dict[gene] += 1
    print()
print(len(possible_match_dict))

0.0285691521967709
ACH-000002

0.070389327891398
ACH-000012

0.1890338243900171
ACH-000020

0.2016338611696504
ACH-000042

0.0565835283663675
ACH-000050

0.137503523749935
ACH-000052

0.1110313123887439
ACH-000053

0.0426443374084937
ACH-000059

0.0840642647884745
ACH-000060

0.2141248053528473
ACH-000065

0.1243281350022017
ACH-000091

0.0976107966264223
ACH-000101

0.4005379295837288
ACH-000109

0.2265085298086797
ACH-000121

0.2387868595871164
ACH-000142

0.01435529297707
ACH-000162

0.2986583155645151
ACH-000223

0.5655971758542251
ACH-000243

0.2509615735332188
ACH-000249

0.1634987322828795
ACH-000276

0.1763227726404629
ACH-000298

0.3219280948873623
ACH-000337

0.3895668117627256
ACH-000358

0.1505596765753814
ACH-000367

0.2750070474998698
ACH-000373

0.9708536543404837
ACH-000384

0.3334237337251918
ACH-000403

0.4436066514756146
ACH-000417

1.1309308698264486
ACH-000470

0.7048719644563528
ACH-000486

0.5260688116675876
ACH-000535

0.2868811477881615
ACH-000547

0.411426245726465
ACH-000587

0.4750848829487828
ACH-000639

0.6415460290875237
ACH-000724

0.3673710656485294
ACH-000766

0.3785116232537298
ACH-000846

0.8718436485093178
ACH-000849

0.2630344058337938
ACH-000965

3340

In [25]:
print(len(exp["BUB1B-PAK6"].unique()))
for gene, count in possible_match_dict.items():
    if count == max(possible_match_dict.values()):
        print(gene, count)

40
TAS2R13 (50838) 5